 <!-- <app-jobseeker-home-page></app-jobseeker-home-page> 

  -->
 
<div class="main-container">
  <div class="side-container">
    <div class="chatbot-container">
      <div class="chatbotlogo">
        <div class="chatbotext" *ngIf="routeval">
          <div class="chat-container">
            <div class="chat-box">
             <!-- <app-avatar-selector></app-avatar-selector> -->
          <app-chatbotmodule></app-chatbotmodule>
            </div>
          </div>


        </div>
        <img src="\assets\Animation - 1737704467019.gif" (click)="route()" alt="">
      </div>
    </div>
  </div>
  <router-outlet />
</div>
<router-outlet />
<!-- <app-faq-management></app-faq-management> -->
<!-- 
<app-chatbotmodule></app-chatbotmodule>  -->
<!-- <app-jobdetailform></app-jobdetailform> -->