<div [ngSwitch]="course_name">


  <div class="courses-container" *ngSwitchCase="'BUSINESS'">
    <h1 class="heading">Top Business Courses</h1>
    <p class="description">
      Explore the most sought-after business courses designed to help you excel in today's competitive world.
      Whether you're aiming to become a corporate leader or a successful entrepreneur, there's a course for you.
    </p>
    <img src="assets/bussiness photo.jpg" width="1200" height="500">

    <div class="course-list">
      <div class="course-card" *ngFor="let course of courses">
        <h3 class="course-title">{{ course.name }}</h3>
        <p class="course-description">{{ course.description }}</p>
        <p class="course-details">
          {{ course.details }}
        </p>
        <ul class="course-features">
          <li *ngFor="let feature of course.features">{{ feature }}</li>
        </ul>
        <p class="course-duration">
          <strong>Duration:</strong> {{ course.duration }}
        </p>
        <p class="course-fee">
          <strong>Fee:</strong> {{ course.fee }}
        </p>
        <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
      </div>
    </div>
  </div>

  <div class="courses-container" *ngSwitchCase="'ARTFICIAL  INTELLIGENCE & MACHINE LEARNING'">
    <h1 class="heading">Top Artificial Intelligence & Machine Learning Courses</h1>
    <p class="description">
      Dive into the cutting-edge world of AI and Machine Learning. These courses are crafted to help you master
      algorithms,
      data analysis, and build intelligent systems.
    </p>
    <img src="assets/Artificial-Intelligence-Machine-Learning.png" width="1200" height="500">

    <div class="course-list">
      <div class="course-card" *ngFor="let course of aiCourses">
        <h3 class="course-title">{{ course.name }}</h3>
        <p class="course-description">{{ course.description }}</p>
        <p class="course-details">
          {{ course.details }}
        </p>
        <ul class="course-features">
          <li *ngFor="let feature of course.features">{{ feature }}</li>
        </ul>
        <p class="course-duration">
          <strong>Duration:</strong> {{ course.duration }}
        </p>
        <p class="course-fee">
          <strong>Fee:</strong> {{ course.fee }}
        </p>
        <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
      </div>
    </div>
  </div>


  <div class="courses-container" *ngSwitchCase="'CYBER SECURITY'">
    <h1 class="heading">Top Cybersecurity Courses</h1>
    <p class="description">
      Protect digital infrastructure and data with the best cybersecurity courses. These programs teach you the latest
      in ethical hacking, network security, and risk management.
    </p>
    <img src="assets/cyber.jpg" width="1200" height="500">

    <div class="course-list">
      <div class="course-card" *ngFor="let course of cybersecurityCourses">
        <h3 class="course-title">{{ course.name }}</h3>
        <p class="course-description">{{ course.description }}</p>
        <p class="course-details">
          {{ course.details }}
        </p>
        <ul class="course-features">
          <li *ngFor="let feature of course.features">{{ feature }}</li>
        </ul>
        <p class="course-duration">
          <strong>Duration:</strong> {{ course.duration }}
        </p>
        <p class="course-fee">
          <strong>Fee:</strong> {{ course.fee }}
        </p>
        <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
      </div>
    </div>
  </div>
  <div [ngSwitch]="course_name">

    <div class="courses-container" *ngSwitchCase="'ASTROPHYSICS AND SPACE SCIENCE'">
      <h1 class="heading">Top Astrophysics and Space Science Courses</h1>
      <p class="description">
        Explore the mysteries of the universe with these astrophysics and space science courses. From black holes to
        space exploration, these programs are designed to expand your knowledge of the cosmos.
      </p>
      <img src="assets/spaces.jpg" width="1200" height="500">

      <div class="course-list">
        <div class="course-card" *ngFor="let course of astrophysicsCourses">
          <h3 class="course-title">{{ course.name }}</h3>
          <p class="course-description">{{ course.description }}</p>
          <p class="course-details">
            {{ course.details }}
          </p>
          <ul class="course-features">
            <li *ngFor="let feature of course.features">{{ feature }}</li>
          </ul>
          <p class="course-duration">
            <strong>Duration:</strong> {{ course.duration }}
          </p>
          <p class="course-fee">
            <strong>Fee:</strong> {{ course.fee }}
          </p>
          <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
        </div>
      </div>
    </div>

  </div>
  <div [ngSwitch]="course_name">

    <div class="courses-container" *ngSwitchCase="'BIOTECHNOLOGY AND BIOINFORMATICS'">
      <h1 class="heading">Top Biotechnology and Bioinformatics Courses</h1>
      <p class="description">
        Explore the intersection of biology and technology with these courses. Learn cutting-edge techniques in genetic
        engineering, data analysis, and computational biology to advance research and innovation.
      </p>
      <img src="assets/biotech.jpg" width="1200" height="500">

      <div class="course-list">
        <div class="course-card" *ngFor="let course of biotechnologyCourses">
          <h3 class="course-title">{{ course.name }}</h3>
          <p class="course-description">{{ course.description }}</p>
          <p class="course-details">
            {{ course.details }}
          </p>
          <ul class="course-features">
            <li *ngFor="let feature of course.features">{{ feature }}</li>
          </ul>
          <p class="course-duration">
            <strong>Duration:</strong> {{ course.duration }}
          </p>
          <p class="course-fee">
            <strong>Fee:</strong> {{ course.fee }}
          </p>
          <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
        </div>
      </div>
    </div>

  </div>
  <div [ngSwitch]="course_name">

    <div class="courses-container" *ngSwitchCase="'TELEMEDICINE AND REMOTE HEALTHCARE'">
      <h1 class="heading">Top Telemedicine and Remote Healthcare Courses</h1>
      <p class="description">
        Learn how technology is revolutionizing the delivery of healthcare services. These courses focus on telemedicine
        technologies, remote patient monitoring, and healthcare innovation.
      </p>
      <img src="assets/Telemedicines.jpeg" width="1200" height="500">

      <div class="course-list">
        <div class="course-card" *ngFor="let course of telemedicineCourses">
          <h3 class="course-title">{{ course.name }}</h3>
          <p class="course-description">{{ course.description }}</p>
          <p class="course-details">
            {{ course.details }}
          </p>
          <ul class="course-features">
            <li *ngFor="let feature of course.features">{{ feature }}</li>
          </ul>
          <p class="course-duration">
            <strong>Duration:</strong> {{ course.duration }}
          </p>
          <p class="course-fee">
            <strong>Fee:</strong> {{ course.fee }}
          </p>
          <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
        </div>
      </div>
    </div>

  </div>
  <div [ngSwitch]="course_name">

    <div class="courses-container" *ngSwitchCase="'FINE ARTS AND CREATIVE DESIGN'">
      <h1 class="heading">Top Fine Arts and Creative Design Courses</h1>
      <p class="description">
        Unlock your creativity with these courses in fine arts and creative design. Master techniques in painting,
        sculpture, digital design, and more to bring your artistic vision to life.
      </p>
      <img src=" assets/fine.jpg" width="1200" height="500">

      <div class="course-list">
        <div class="course-card" *ngFor="let course of fineArtsCourses">
          <h3 class="course-title">{{ course.name }}</h3>
          <p class="course-description">{{ course.description }}</p>
          <p class="course-details">
            {{ course.details }}
          </p>
          <ul class="course-features">
            <li *ngFor="let feature of course.features">{{ feature }}</li>
          </ul>
          <p class="course-duration">
            <strong>Duration:</strong> {{ course.duration }}
          </p>
          <p class="course-fee">
            <strong>Fee:</strong> {{ course.fee }}
          </p>
          <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
        </div>
      </div>
    </div>

  </div>
  <div [ngSwitch]="course_name">

    <div class="courses-container" *ngSwitchCase="'NETWORK SECURITY ARCHITECTURE'">
      <h1 class="heading">Top Network Security Architecture Courses</h1>
      <p class="description">
        Master the principles and techniques for designing secure networks. These courses cover everything from network
        defenses to threat prevention and risk management.
      </p>
      <img src="assets/net.jpg" width="1200" height="500">

      <div class="course-list">
        <div class="course-card" *ngFor="let course of networkSecurityCourses">
          <h3 class="course-title">{{ course.name }}</h3>
          <p class="course-description">{{ course.description }}</p>
          <p class="course-details">
            {{ course.details }}
          </p>
          <ul class="course-features">
            <li *ngFor="let feature of course.features">{{ feature }}</li>
          </ul>
          <p class="course-duration">
            <strong>Duration:</strong> {{ course.duration }}
          </p>
          <p class="course-fee">
            <strong>Fee:</strong> {{ course.fee }}
          </p>
          <a [href]="course.link" target="_blank" class="btn">Reference Video</a>
        </div>
      </div>
    </div>

  </div>




  <div *ngSwitchDefault>
    Not Found
  </div>
</div>